<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

{% block content %}
  <h2>Password Reset</h2>
  <p>Enter your email address, and we'll send you a link to reset your password.</p>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Password Reset Link</button>
  </form>
  <p><a href="{% url 'login' %}">Back to login</a></p>
{% endblock %}

</body>
</html>