<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Subject: Password Reset
  From: your-email@example.com
  
  {% block subject %}Password Reset{% endblock %}
  
  {% block message %}
  You're receiving this email because you requested a password reset for your account at Your Website.
  
  Please click the link below to reset your password:
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
  
  If you didn't request this, you can safely ignore this email.
  
  Thanks,
  Your Website Team
  {% endblock %}
  

</body>
</html>
